/*菜单-设置文件编码-utf-8*/
@charset "UTF-8";
/*1.清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }

fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
select, input { vertical-align:middle;}
textarea { resize:none; } /*防止拖动*/
img{border:0; vertical-align:middle; display:block;}  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }
body{ background-color:  #fff;}

/*2.添加公共样式*/
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}


/*公共类*/
.container {  /*版心 提取 */
    width: 1200px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

.inblock{display: inline-block;}
.block{display: block;}

.clearfix::after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	zoom: 1;
}

/*3.页面的公共部分*/

/*li只做浮动，a做宽高。*/

.login {
  background-color: #f6f6f6;
  border-bottom: 1px solid #ececec;
}

header .login .left {
  height: 25px;
  width: 230px;
  float: left;
  background-image: url("../img/head.jpg");
}

header .login .right {
  height: 25px;
  float: right;
}

header .login .right li {
  float: left;
  line-height: 25px;
  font-size: 12px;
}

header .login .right li > a {
  padding: 0 10px;
  color: #666;
  border-right: 1px solid #d4d4d4;
}

header .login .right li > a:hover {
  color: #c20055;
}

header .login .right li:nth-of-type(5) > a {
  background-image: url("../img/phone.jpg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding: 0 10px 0 25px;
}

header .login .right li:nth-of-type(8) {
  position: relative;
}

header .login .right li:nth-of-type(8) > a {
  border-right: none;
  background: url("../img/car.jpg") no-repeat 50px;
  padding: 0 25px 0 10px;
}

header .login .right li:nth-of-type(8) > div {
  width: 350px;
  min-height: 120px;
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  padding: 10px;
}

header .login .right li:nth-of-type(8) > div > ul > li {
  margin-bottom: 10px;
}

header .login .right li:nth-of-type(8) > div > ul > li > a {
  border-right: none;
}

header .login .right li:nth-of-type(8) > div > ul > li > a img {
  width: 50px;
  float: left;
}

header .login .right li:nth-of-type(8) > div > ul > li > a > h3 {
  float: left;
  width: 160px;
  line-height: 18px;
  margin-left: 5px;
}

header .login .right li:nth-of-type(8) > div > ul > li i {
  color: red;
}

header .login .right li:nth-of-type(8) > div > ul > li .num {
  color: red;
}

header .login .right li:nth-of-type(8) > div > ul > li .qty {
  margin-left: 5px;
}

header .login .right li:nth-of-type(8) > div > ul > li .del {
  margin-left: 15px;
  border-right: none;
}

header .login .right li:nth-of-type(8):hover div {
  display: block;
}

header .login .right li:nth-of-type(3) a, header .login .right li:nth-of-type(4) a, header .login .right li:nth-of-type(5) a {
  position: relative;
}

header .login .right li:nth-of-type(3) a img, header .login .right li:nth-of-type(4) a img, header .login .right li:nth-of-type(5) a img {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

header .login .right li:nth-of-type(3):hover a img, header .login .right li:nth-of-type(4):hover a img, header .login .right li:nth-of-type(5):hover a img {
  display: block;
}

header .nav {
  background-color: #f6f6f6;
}

header .nav ul {
  width: 1072px;
  margin: 0 auto;
}

header .nav ul li:nth-of-type(1) {
  float: left;
}

header .nav ul li:nth-of-type(1) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav01.jpg") no-repeat;
}

header .nav ul li:nth-of-type(1) a:hover {
  background: url("../img/nav1.jpg") no-repeat;
}

header .nav ul li:nth-of-type(2) {
  float: left;
}

header .nav ul li:nth-of-type(2) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav02.jpg") no-repeat;
}

header .nav ul li:nth-of-type(2) a:hover {
  background: url("../img/nav2.jpg") no-repeat;
}

header .nav ul li:nth-of-type(3) {
  float: left;
}

header .nav ul li:nth-of-type(3) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav03.jpg") no-repeat;
}

header .nav ul li:nth-of-type(3) a:hover {
  background: url("../img/nav3.jpg") no-repeat;
}

header .nav ul li:nth-of-type(4) {
  float: left;
}

header .nav ul li:nth-of-type(4) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav04.jpg") no-repeat;
}

header .nav ul li:nth-of-type(4) a:hover {
  background: url("../img/nav4.jpg") no-repeat;
}

header .nav ul li:nth-of-type(5) {
  float: left;
}

header .nav ul li:nth-of-type(5) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav05.jpg") no-repeat;
}

header .nav ul li:nth-of-type(5) a:hover {
  background: url("../img/nav5.jpg") no-repeat;
}

header .nav ul li:nth-of-type(6) {
  float: left;
}

header .nav ul li:nth-of-type(6) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav06.jpg") no-repeat;
}

header .nav ul li:nth-of-type(6) a:hover {
  background: url("../img/nav6.jpg") no-repeat;
}

header .nav ul li:nth-of-type(7) {
  float: left;
}

header .nav ul li:nth-of-type(7) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav07.jpg") no-repeat;
}

header .nav ul li:nth-of-type(7) a:hover {
  background: url("../img/nav7.jpg") no-repeat;
}

header .nav ul li:nth-of-type(8) {
  float: left;
}

header .nav ul li:nth-of-type(8) a {
  display: block;
  width: 134px;
  height: 42px;
  background: url("../img/nav08.jpg") no-repeat;
}

header .nav ul li:nth-of-type(8) a:hover {
  background: url("../img/nav8.jpg") no-repeat;
}

header .search_side .logo {
  float: left;
}

header .search_side .logo a {
  display: block;
  width: 320px;
  height: 140px;
  background: url("../img/logo.gif") no-repeat;
  margin-right: 30px;
}

header .search_side .search {
  float: left;
  margin-right: 70px;
  margin-top: 35px;
}

header .search_side .search div {
  width: 540px;
  border: 2px solid #e50163;
}

header .search_side .search div input {
  height: 33px;
  width: 449px;
  padding-left: 5px;
  box-sizing: border-box;
  float: left;
}

header .search_side .search div span {
  display: inline-block;
  width: 86px;
  height: 33px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #e50163;
  float: right;
}

header .search_side .search ul li {
  float: left;
}

header .search_side .search ul li a {
  line-height: 28px;
  font-size: 12px;
  color: #8d8d8d;
  border-right: 1px solid #e3e3e3;
  padding: 0 8px;
}

header .search_side .search ul li a:hover {
  color: #e50163;
}

header .search_side .newgoods {
  float: right;
  margin-top: 25px;
}

footer .m_info {
  background-color: #ececec;
}

footer .m_info > ul > li {
  float: left;
  padding: 30px 40px;
}

footer .m_info > ul > li ul li h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .m_info > ul > li ul li a {
  font-size: 12px;
  line-height: 24px;
}

footer .foot {
  width: 995px;
  height: 287px;
  background: url(../img/foot.png);
}





